@import "./variables"


input.control,
textarea.control,
select.control,
.control-addon,
div.control > input,
div.control > textarea,
div.control > select,
div.control > .control-addon
  height: $control-height
  line-height: $control-height
  padding: 0 $control-padding-horizontal
  font-family: $control-font-family
  font-size: $font-size-normal
  color: $control-text-color
  background-color: $control-bg-color
  border: 1px solid $control-border-color
  border-radius: $control-border-radius


input.control,
textarea.control,
select.control,
.control-addon
  &.control-small
    font-size: $font-size-small
    height: $control-small-height
    line-height: $control-small-height
    padding: 0 $control-small-padding-horizontal
    border-radius: $control-small-border-radius

  &.control-medium
    font-size: $font-size-medium
    height: $control-medium-height
    line-height: $control-medium-height
    padding: 0 $control-medium-padding-horizontal
    border-radius: $control-medium-border-radius

  &:not(.control-addon):hover
    border-color: $control-hover-border-color

  &:disabled
    cursor: default

    &,
    &:hover
      color: $control-disabled-text-color
      background-color: $control-disabled-bg-color
      border-color: $control-disabled-border-color

  &[readonly]
    &,
    &:hover
      color: $control-readonly-text-color
      background-color: $control-readonly-bg-color
      border-color: $control-readonly-border-color

  &.control-wide
    width: 100%
    min-width: 1px // https://stackoverflow.com/a/27460682/506695

  &:focus
    outline: none


div.control
  position: relative
  display: inline-block

  &.control-wide
    width: 100%
    min-width: 1px // https://stackoverflow.com/a/27460682/506695

  &.control-small
    > input,
    > textarea,
    > select,
    > .control-addon
      font-size: $font-size-small
      height: $control-small-height
      line-height: $control-small-height
      padding: 0 $control-small-padding-horizontal
      border-radius: $control-small-border-radius

  &.control-medium
    > input,
    > textarea,
    > select,
    > .control-addon
      font-size: $font-size-medium
      height: $control-medium-height
      line-height: $control-medium-height
      padding: 0 $control-medium-padding-horizontal
      border-radius: $control-medium-border-radius

  > input,
  > textarea,
  > select
    &:hover
      border-color: $control-hover-border-color

    &:disabled
      cursor: default

      &,
      &:hover
        color: $control-disabled-text-color
        background-color: $control-disabled-bg-color
        border-color: $control-disabled-border-color

    &[readonly]
      &,
      &:hover
        color: $control-readonly-text-color
        background-color: $control-readonly-bg-color
        border-color: $control-readonly-border-color


div.control
  > select
    width: 100%
    appearance: none
    padding-right: 1.5 * $control-padding-horizontal + $select-arrow-size

    .control-group > &
      width: auto

  &.control-select
    &:after
      content: ''
      position: absolute
      right: $control-padding-horizontal
      top: ($control-height - $select-arrow-size) / 2
      width: $select-arrow-size
      height: $select-arrow-size
      mask-image: url('../img/caret-down.svg')
      mask-size: cover
      background-color: $control-text-color
      pointer-events: none

    &.control-small
      &:after
        top: ($control-small-height - $select-arrow-small-size) / 2
        width: $select-arrow-small-size
        height: $select-arrow-small-size

    &.control-medium
      &:after
        top: ($control-medium-height - $select-arrow-medium-size) / 2
        width: $select-arrow-medium-size
        height: $select-arrow-medium-size

    &.control-select-disabled
      &:after
        background-color: $control-disabled-text-color

  &.control-small
    > select
      padding-right: 1.5 * $control-small-padding-horizontal + $select-arrow-small-size

  &.control-medium
    > select
      padding-right: 1.5 * $control-medium-padding-horizontal + $select-arrow-medium-size


select.control,
div.control > select
  &[multiple]
    height: auto

  &:-moz-focusring
    color: transparent
    text-shadow: 0 0 0 $control-text-color


textarea.control,
div.control > textarea
  height: $control-height * 5 + 2px

  &.control-small
    height: $control-small-height * 5 + 2px

  &.control-medium
    height: $control-medium-height * 5 + 2px


.control-group
  display: flex
  flex-direction: row

  &:not(:last-child)
    margin-right: $control-group-gap

  > .control,
  > .control-addon,
  > .button
    &:not(:first-child)
      border-top-left-radius: 0
      border-bottom-left-radius: 0

    &:not(:last-child)
      border-top-right-radius: 0
      border-bottom-right-radius: 0

  > .control
    &:not(:first-child)
      > input,
      > textarea,
      > select,
      > .control-addon,
      > .button
        border-top-left-radius: 0
        border-bottom-left-radius: 0

    &:not(:last-child)
      > input,
      > textarea,
      > select,
      > .control-addon,
      > .button
        border-top-right-radius: 0
        border-bottom-right-radius: 0

  > .control,
  > .control-addon,
  > .control-custom,
  > .button
    & + .control,
    & + .control-addon,
    & + .control-custom,
    & + .button
      margin-left: 1px


.control-group-split
  display: flex
  flex-direction: row
  justify-content: space-between
