@import "./variables"


.fieldset
  padding: $fieldset-padding-vertical $fieldset-padding-horizontal
  border: 1px solid $fieldset-border-color
  border-radius: $fieldset-border-radius

.fieldset-legend
  margin: 0 -$fieldset-legend-gap
  padding: 0 $fieldset-legend-gap
  color: $fieldset-legend-text-color
  font-weight: $fieldset-legend-font-weight
