@import "./functions"


// Colors
$color-darken-percentage: 15% !default
$color-lighten-percentage: 35% !default

$black: #000 !default
$white: #fff !default
$gray: #888 !default
$blue: #1f42b3 !default
$red: #e00707 !default
$green: #368f0a !default
$yellow: #fff600 !default
$orange: #ffb400 !default
$cyan: #30728b !default
$brown: #a23d00 !default
$purple: #6700a9 !default

$gray-dark: #444 !default
$gray-light: #eee !default

$blue-dark: darken($blue, $color-darken-percentage) !default
$blue-light: lighten($blue, $color-lighten-percentage) !default

$red-dark: darken($red, $color-darken-percentage) !default
$red-light: lighten($red, $color-lighten-percentage) !default

$green-dark: darken($green, $color-darken-percentage) !default
$green-light: lighten($green, $color-lighten-percentage) !default

$yellow-dark: darken($yellow, $color-darken-percentage) !default
$yellow-light: lighten($yellow, $color-lighten-percentage) !default

$orange-dark: darken($orange, $color-darken-percentage) !default
$orange-light: lighten($orange, $color-lighten-percentage) !default

$cyan-dark: darken($cyan, $color-darken-percentage) !default
$cyan-light: lighten($cyan, $color-lighten-percentage) !default

$brown-dark: darken($brown, $color-darken-percentage) !default
$brown-light: lighten($brown, $color-lighten-percentage) !default

$purple-dark: darken($purple, $color-darken-percentage) !default
$purple-light: lighten($purple, $color-lighten-percentage) !default

$colors: ("blue": ($blue, $blue-dark, $blue-light), "red": ($red, $red-dark, $red-light), "green": ($green, $green-dark, $green-light), "yellow": ($yellow, $yellow-dark, $yellow-light), "orange": ($orange, $orange-dark, $orange-light), "cyan": ($cyan, $cyan-dark, $cyan-light), "brown": ($brown, $brown-dark, $brown-light), "purple": ($purple, $purple-dark, $purple-light))

$theme: "cyan" !default
$primary: get-color($colors, $theme)
$primary-dark: get-color($colors, $theme, "dark")
$primary-light: get-color($colors, $theme, "light")

$colors: map_merge($colors, ("primary": ($primary, $primary-dark, $primary-light)))


// Font
$font-family: -apple-system, Ubuntu, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default
$font-family-monospace: "Ubuntu Monospace", "Source Code Pro", "Monaco", "Inconsolata", monospace !default
$font-size-huge: 28px !default
$font-size-large: 22px !default
$font-size-medium: 18px !default
$font-size-normal: 14px !default
$font-size-small: 11px !default
$font-size-tiny: 10px !default
$line-height: 1.2 !default


// Text
$text-color: $black !default
$error-text-color: $red-dark !default


// Link
$link-color: $cyan !default
$link-hover-color: lighten($link-color, 10%) !default


// Padding
$padding-horizontal: 15px !default
$padding-vertical: 15px !default


// Heading
$heading-gap: $padding-vertical !default


// List
$list-gap: $padding-vertical !default
$list-item-bullet-width: 20px !default


// Button
$button-font-family: $font-family !default

$button-default-text-color: $primary !default
$button-default-bg-color: $white !default
$button-default-hover-text-color: $white !default
$button-default-hover-bg-color: $primary-light !default
$button-default-active-text-color: $white !default
$button-default-active-bg-color: lighten($primary, 20%) !default

$button-dark-text-color: $black !default
$button-light-text-color: $white !default

$button-disabled-text-color: $white !default
$button-disabled-bg-color: $gray !default

$button-height: 32px !default
$button-padding-horizontal: 12px !default
$button-border-radius: 4px !default
$button-icon-gap: 4px !default

$button-small-height: 24px !default
$button-small-padding-horizontal: 8px !default
$button-small-border-radius: 3px !default
$button-small-icon-gap: $button-icon-gap !default

$button-medium-height: 40px !default
$button-medium-padding-horizontal: 16px !default
$button-medium-border-radius: $button-border-radius !default
$button-medium-icon-gap: $button-icon-gap !default

$button-group-restrictor-color: $primary-light !default


// Label
$label-text-color: $text-color !default
$label-block-gap: 5px !default


// Fieldset
$fieldset-padding-horizontal: $padding-horizontal !default
$fieldset-padding-vertical: $padding-vertical !default
$fieldset-border-color: $gray-light !default
$fieldset-border-radius: 4px !default
$fieldset-legend-text-color: $black !default
$fieldset-legend-gap: 3px !default
$fieldset-legend-font-weight: bold !default


// Control (select, text input, textarea)
$control-font-family: $font-family !default
$control-text-color: $primary !default
$control-bg-color: $white !default
$control-border-color: $primary !default
$control-hover-border-color: lighten($control-border-color, 10%) !default

$control-height: 32px !default
$control-padding-horizontal: 8px !default
$control-border-radius: 4px !default

$control-small-height: 24px !default
$control-small-padding-horizontal: 5px !default
$control-small-border-radius: 3px !default

$control-medium-height: 40px !default
$control-medium-padding-horizontal: 12px !default
$control-medium-border-radius: $control-border-radius !default

$control-disabled-text-color: $gray !default
$control-disabled-bg-color: $gray-light !default
$control-disabled-border-color: $gray !default

$control-readonly-text-color: $control-text-color !default
$control-readonly-bg-color: $control-bg-color !default
$control-readonly-border-color: $control-border-color !default


$select-arrow-size: 9px
$select-small-arrow-size: 7px
$select-medium-arrow-size: 11px


// Checkbox / radio
$checkbox-radio-gap: 5px !default
$checkbox-radio-size: 16px !default
$checkbox-radio-group-item-height: 24px !default
$checkbox-radio-group-item-gap: 6px !default


// Checkbox only
$checkbox-color: $control-border-color !default
$checkbox-hover-color: $control-hover-border-color !default
$checkbox-inverted-color: $white !default
$checkbox-inverted-color: $white !default


// Radio only
$radio-color: $control-border-color !default
$radio-hover-color: $control-hover-border-color !default
$radio-inverted-color: $white !default
$radio-inverted-color: $white !default


// Row
$row-gap: $padding-vertical !default
$row-item-gap: $padding-horizontal !default


// Block
$block-gap: $padding-vertical !default

$block-text-color: $black !default
$block-bg-color: $white !default
$block-border-color: $primary-light !default
$block-border-radius: 4px !default

$block-header-font-size: $font-size-medium !default
$block-header-text-color: $primary-dark !default
$block-header-bg-color: $primary-light !default
$block-header-height: 50px !default

$block-padding-horizontal: $padding-horizontal !default
$block-padding-vertical: $padding-vertical !default


// Popup
$popup-zindex: 1000 !default
$popup-bg-color: $white !default
$popup-border-radius: 4px !default
$popup-border-color: $button-default-text-color !default

$popup-window-padding-horizontal: $padding-horizontal !default
$popup-window-padding-vertical: $padding-vertical / 2 !default

$popup-item-height: $button-height !default
$popup-item-caret-gap: 5px !default

$popup-menu-padding-vertical: $popup-item-height / 4 !default

$popup-item-link-padding-horizontal: $padding-horizontal !default
$popup-item-link-text-color: $button-default-text-color !default
$popup-item-link-bg-color: $button-default-bg-color !default
$popup-item-link-hover-text-color: $button-default-hover-text-color !default
$popup-item-link-hover-bg-color: $button-default-hover-bg-color !default
$popup-item-link-active-text-color: $button-default-active-text-color !default
$popup-item-link-active-bg-color: $button-default-active-bg-color !default
$popup-item-link-disabled-text-color: $gray !default
$popup-item-link-disabled-bg-color: $popup-item-link-bg-color !default

$popup-item-submenu-gap: 5px !default

$popup-item-delimiter-height: $popup-item-height / 2 !default
$popup-item-delimiter-color: $gray-light !default


// Transition
$expand-transition-duration: 0.3s !default
